.topBrands{
    width: 80%;
    min-height: 40vh;
    background-color: #3C4242;
    margin: 30px auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &>.topBrandsText{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      row-gap: 10px;
      margin-bottom: 40px;
      &>h1{
          font-weight: 800;
          color: white;
          font-size: 50px;
          margin-top: 20px;
      }
      &>p{
          color: white;
          font-size: 22px;
      }
    }
    &>.topBrandsImg{
      width: 90%;
      gap: 10px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      margin-bottom: 40px;
    }
  }

@media only screen and (max-width: 1300px) {
  .topBrands{
    // width: 80%;
    // min-height: 40vh;
    // background-color: #3C4242;
    // margin: 30px auto;
    // border-radius: 12px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    &>.topBrandsText{
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // row-gap: 10px;
      // margin-bottom: 40px;
      &>h1{
          // font-weight: 800;
          // color: white;
          // font-size: 50px;
          // margin-top: 20px;
      }
      &>p{
          // color: white;
          // font-size: 22px;
      }
    }
    &>.topBrandsImg{
      // width: 90%;
      // gap: 10px;
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      // margin-bottom: 40px;
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .topBrands{
    // width: 80%;
    // min-height: 40vh;
    // background-color: #3C4242;
    // margin: 30px auto;
    // border-radius: 12px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    &>.topBrandsText{
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // row-gap: 10px;
      // margin-bottom: 40px;
      &>h1{
          // font-weight: 800;
          // color: white;
          // font-size: 50px;
          // margin-top: 20px;
      }
      &>p{
          // color: white;
          // font-size: 22px;
      }
    }
    &>.topBrandsImg{
      // width: 90%;
      // gap: 10px;
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      // margin-bottom: 40px;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
@media only screen and (max-width: 960px) {
  .topBrands{
    width: 56%;
    // min-height: 40vh;
    // background-color: #3C4242;
    // margin: 30px auto;
    // border-radius: 12px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    &>.topBrandsText{
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // row-gap: 10px;
      // margin-bottom: 40px;
      &>h1{
          // font-weight: 800;
          // color: white;
          font-size: 30px;
          // margin-top: 20px;
      }
      &>p{
          // color: white;
          font-size: 19px;
      }
    }
    &>.topBrandsImg{
      width: 80%;
      // gap: 10px;
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      // margin-bottom: 40px;
      grid-template-columns: 1fr 1fr;
      &>img{
        width: 80%;
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .topBrands{
    // width: 80%;
    // min-height: 40vh;
    // background-color: #3C4242;
    // margin: 30px auto;
    // border-radius: 12px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    &>.topBrandsText{
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // row-gap: 10px;
      // margin-bottom: 40px;
      &>h1{
          // font-weight: 800;
          // color: white;
          font-size: 26px;
          // margin-top: 20px;
      }
      &>p{
          // color: white;
          font-size: 15px;
      }
    }
    &>.topBrandsImg{
      width: 40%;
      // gap: 10px;
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      // margin-bottom: 40px;
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (max-width: 412px) {
  .topBrands{
    // width: 80%;
    // min-height: 40vh;
    // background-color: #3C4242;
    // margin: 30px auto;
    // border-radius: 12px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    &>.topBrandsText{
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // row-gap: 10px;
      // margin-bottom: 40px;
      &>h1{
          // font-weight: 800;
          // color: white;
          font-size: 23px;
          // margin-top: 20px;
      }
      &>p{
          // color: white;
          font-size: 12px;
      }
    }
    &>.topBrandsImg{
      width: 40%;
      // gap: 10px;
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      // margin-bottom: 40px;
      grid-template-columns: 1fr;
    }
  }
}

@media only screen and (max-width: 360px) {
  .topBrands{
    // width: 80%;
    // min-height: 40vh;
    // background-color: #3C4242;
    // margin: 30px auto;
    // border-radius: 12px;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // align-items: center;
    &>.topBrandsText{
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: center;
      // row-gap: 10px;
      // margin-bottom: 40px;
      &>h1{
          // font-weight: 800;
          // color: white;
          font-size: 17px;
          // margin-top: 20px;
      }
      &>p{
          // color: white;
          font-size: 10px;
      }
    }
    &>.topBrandsImg{
      width: 40%;
      // gap: 10px;
      // display: grid;
      // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      // margin-bottom: 40px;
      grid-template-columns: 1fr;
    }
  }
}